* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
  }

  body {
    font-size: 14px;
    background-color: rgb(44, 44, 44);
  }

  header{
    padding:   2% 0% 0% 15%;
    height: 80px;
    background-color: rgb(131, 152, 245);
    color: white;
    position: relative;
  }

  footer{
    padding:   0% 0% 0% 0%;
    height: 30px;
    background-color: rgb(44, 44, 44);
    color: white;
    position: relative;
    margin-top: 0%;
  }

  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  h1{
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 42;
  }

  table {
  width: 50%;
  align-self: start;
  margin: 0;
  border-collapse: collapse;
  background-color: darkolivegreen;
  padding: 0px 0ox 0px 0px;
  }

  th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  width: 40px;
  text-align: center;
  background-color: lightblue;
  cursor: pointer;
  background-color:rgb(233, 226, 245);
  color: rgba(84,5,5,1);
  opacity: 1;
  border-radius: 2px 2px 2px 2px;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: Bold;
  }

  tr{
    width: 100%;
    background-color: brown;
    padding: 0%;
  }

  thead {
    background-color: blueviolet;
  }

  input {
  width: 80px;
  text-align: center;
  }

 

  .btn-delete {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
  }
  

  .nav__links{
    list-style: none; 
    display: flex;
    gap: 40px;
  
  }

  .nav__links a{
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 48;  
    height: 50px;
    padding: 15px 15px;
  }
.nav__links a:hover{
    color: coral;
}

.nav__links li{
  font-size: 24px;
}

.hamburguesa{
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}

.logo{
  margin: 0;
  height: 70px;
  width: 70px;
  position:absolute;
  top: 5px;
  left: 20px;
}

/* Sección de entrada */
.input-section {
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 64px 64px 0 0;
  display: flex;
  align-items:normal;
  padding: 30px;
  width: 100%;
}

/* Títulos */
.main-title {
  font-size: 48px;
  font-family: "Montserrat", SemiBold;
  font-weight: 900;
  font-style: italic;
  color: var(--color-white);
}
.titulo-input{
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 28px;
  color: rgba(0,0,0,1);
}

.titulo-input-mediciones {
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 28px;
  color: rgba(0,0,0,1);
  position:relative;
  padding: 0px 0px 0px 0px;
  }

.titulo-input-nivel{
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 28px;
  color: rgba(0,0,0,1);
  position:relative;

}

.titulo-output{
  padding: 5px 10px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 28px;
  color: black;
  align-self:center;
}

.titulo-output-mediciones{
  padding: 0px 0px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 16px;
  color: black;
  position:relative;
}

.titulo-instrucciones{
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 20px;
  color: rgba(0,0,0,1);
  padding: 2px;
}



.section-title {
  font-family: "Montserrat", serif;
  font-size: 32px;
  font-weight: 600;
  color:antiquewhite;
  margin: 10px 0;
  text-align: center;
}

/* Contenedores de entrada y botón */
.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content:center;
  width: 100%;
  height: 390px;
  max-width: 600px;
  margin-top: 10px;
  gap: 15px;
  position:relative;
  left: 10%;
}

.input-name {
  background-color:rgb(233, 226, 245);
  color: rgba(84,5,5,1);
  opacity: 1;
  width: 194px;
  padding: 10px;
  border: 0px solid black;
  border-radius: 15px 15px 15px 15px;
  font-size: 22px;
  font-family: Montserrat;
  font-weight: Bold;
}

.input-name:hover {
  background-color:coral;
}
.button-container {
  display: flex;
  width: 250px;
  height: 30px;
  display:flex;
  justify-content: space-around;
  align-items:flex-start;
  border-radius: 25px;
  gap: 15px;
}


/* Estilos de botón */

button {
  padding: 5px 5px;
  font-family: "Inter", bold;
  font-size: 18px;
  height: 30px;
  border: 2px solid #000;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

button:hover {
  background-color: coral;
}

button1 {
  padding: 5px 5px;
  font-family: "Inter", bold;
  font-size: 18px;
  height: 30px;
  width: 100%;
  border: 2px solid #000;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

button1:hover {
  background-color: coral;
}

button2 {
  padding: 5px 5px;
  font-family: "Inter", bold;
  font-size: 18px;
  height: 30px;
  width: 50%;
  border: 2px solid #000;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

button2:hover {
  background-color: coral;
}

/* Botón de calcular */
.button-draw {
  display: flex;
  align-items:center;
  justify-content:space-evenly;
  width: 250px;
  padding: 10px 10px;
  color: var(--color-white);
  background-color: var(--color-button);
  font-size: 16px;
}

/* Contenedores de resultados */
.output-wrapper {
  display: flex;
  flex-direction: column;
  justify-content:right;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  gap: 15px;
  position: relative;
  left: 0%;
}


/*Mensajes de resultados*/
.indice {
  font-family: "Montserrat", bold;
  font-size: 28px;
  font-weight: 50;
  color:rgb(26, 30, 48);
 }
  
 .resultado {
  font-family: "Montserrat", bold;
  font-size: 36px;
  font-weight: 65;
  color:rgb(35, 67, 207);
  align-items: center;
 }

 .resultado-mediciones{
  font-family: "Montserrat", bold;
  font-size: 20px;
  font-weight: 50;
  color:rgb(26, 30, 48);
 }

 .titulo-iluminacion-general{
  font-family: "Montserrat", bold;
  font-size: 20px;
  font-weight: 48;
  color:green;
  align-items:flex-start;
  padding: 0px 0px 0px 0px;
 }

@media (with <= 768px) {

  nav{
        justify-content: space-between;
    }
    .nav__links{
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgb(131, 152, 245);
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .nav__links li{
        margin: 15px 0;
    }
    .hamburguesa{
        display: flex;
    }
    .nav__links.show{
        display: flex;
        background-color: #232323;
    }
}
