* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
  }

  header{
    padding:   2% 0% 0% 15%;
    height: 80px;
    background-color: rgb(131, 152, 245);
    color: white;
    position: relative;
  }

  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  h1{
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 42;
  }

  .nav__links{
    list-style: none; 
    display: flex;
    gap: 40px;
  }

  .nav__links a{
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 36;   
  }
.nav__links a:hover{
    color: coral;
}

.hamburguesa{
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}

@media (with <= 768px) {

  nav{
        justify-content: space-between;
    }
    .nav__links{
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgb(131, 152, 245);
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .nav__links li{
        margin: 15px 0;
    }
    .hamburguesa{
        display: flex;
    }
    .nav__links.show{
        display: flex;
        background-color: #232323;
    }
}
