* /* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 16px; /* 1rem = 16px */
}

body {
    font-family: Montserrat, sans-serif;
    background-color: var(--color-body); /* Gris oscuro */
}

/* Asegurar que el body ocupe toda la altura de la pantalla */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}


/* Header */
header {
    background-color: var(--color-header-fondo);
    color:var(--color-header-texto);
    text-align: center;
    padding: 1.5rem;
    font-size: 1.8rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 5rem; /* La imagen tomará el 100% del header */
    max-height: 5rem; /* Asegura que no supere el header */
    width: auto;  /* Mantiene la proporción */
    padding-top: 0.5rem;
  }

/*Título de la aplicación*/
h1{
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 2.1rem;
}


/* Footer fijo en la parte inferior */
footer {
    background-color: var(--color-footer-fondo); /* Gris oscuro */
    color: var(--color-footer-texto);
    text-align: center;
    padding: 1%;
    font-size: 1rem;
    width: 100%;
}
/* estilo iconos en footer */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 0.94rem;
  margin-top: 0.625rem;
}

.social-icons img {
  width: 1.2rem;
  height: 1.2rem;
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.2);
}

/* Estilos para el modal */
    /* Fondo oscuro cuando el modal está activo */
    .modal {
      display: none; /* Oculto por defecto */
      position: fixed;
      z-index: 1000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-semitransparente)
  }

  /* Contenedor del modal */
  .modal-content {
      background-color: var(--color-modal-activo);
      margin: 15% auto;
      padding: 1.25rem;
      width: 50%;
      border-radius: 0.625rem;
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
      text-align: center;
      font-size: 1rem;
  }

  /* Botón de cierre (la "X") */
  .close {
      color: var(--color-secundario);
      float: right;
      font-size: 1.5rem;
      font-weight: bold;
      cursor: pointer;
  }

  .close:hover {
      color: var(--color-resaltado);
  }

  /* Estilo para el enlace de "Acerca de" */
  footer a {
        color: var(--color-footer-texto);
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;
    }

    footer a:hover {
        color: var(--color-resaltado);
    }
  .text__modal{
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    padding: 0.25rem;
  }

/* Menú de navegación */
nav {
  position: relative;
  z-index: 2; /* El menú estará por encima de la imagen */
}

.menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.menu li {
  display: inline;
}

.menu a {
  text-decoration: none;
  color: var(--color-header-texto);
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

/* Cambio de color al pasar el cursor */
.menu a:hover {
  color: var(--color-resaltado);
}

/* Cambio de color al hacer clic */
.menu a.active {
  color: var(--color-resaltado);
}

/* Menú hamburguesa (oculto en pantallas grandes) */
.menu-hamburguesa {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-hamburguesa div {
    width: 30px;
    height: 4px;
    background-color: var(--color-header-texto);
    border-radius: 2px;
}

/* --- TÍTULOS --- */

.section-title {
  font-family: "Montserrat", serif;
  font-size: 1.75rem;
  color:var(--color-titulo-principal);
  margin: 1rem 0px;
  text-align: center;
}

/* Contenedor principal */
/* El main debe ocupar todo el espacio disponible */
.contenedor-principal {
  background-color: var(--color-secundario);
  flex: 1; /* Hace que ocupe el espacio restante */
  display: flex;
  justify-content: space-evenly;
  border-radius: 4rem 4rem 0 0;
  border: 1px solid var(--color-borde);
  width: 100%;
  padding: 0rem;
  gap: 0rem;
}

/* Contenedores laterales */
.contenedor__izquierda {
  width: 40%;
  background-color: lightgray;
  border: 0px solid black;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  margin-left: 10rem;
  margin-top: 1rem;
 }
 .seccion1{
  display: flex;
  flex-direction: column;
  justify-content:center;
  height: 75%;
  border: 1px solid black;
  background-color: lightgray;
 
 }
 

 .seccion2{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  height: 10%;
  width: 50%;
  border: 1px solid black;
  background-color: lightgray;
}

/* FIN Contenedor izquierda */
/*Contenedr derecho*/
.contenedor__derecha {
  width: 40%;
  background-color: lightgray;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-right:  10rem;
 }
 .seccion3{
    height: 50%;
    border: 1px solid black;
 }



 .seccion4{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  border: 1px solid black;
 }
 

/* FIN Contenedor derecha */

 /* --- RESPONSIVIDAD --- */
@media (max-width: 768px) {

  

  .contenedor-principal {
      width: 100%;
      flex-direction: column-reverse;
  
      
  }

  .section-title {
    color: white;
    opacity: 100;
  }
  .contenedor__izquierda {
      margin-left: 20% ;
  }
  .contenedor__derecha {
    margin-right: 20%

  }
  .imagen{
 
    height: auto; /* La imagen tomará el 100% del header */
    /* max-height: 200%; /* Asegura que no supere el header */
     width: 100%;  /* Mantiene la proporción */
   /*  padding-top: 0.5rem;*/
  }

  .titulo-instrucciones{
    margin-left: 0rem;
    padding: 0px;
    font-size: 1rem;
  }

  .indice {
    font-family: "Montserrat", bold;
    font-size: 1.5rem;
    margin-left: 0rem;
   }
  .resultado {
    font-family: "Montserrat", bold;
    font-size: 1.75rem;
    margin-left: 0rem;
  }


  /* Oculta el menú normal y muestra la hamburguesa */
  .menu {
      display: none;
      flex-direction: column;
      background-color: --color-header-fondo;
      position: absolute;
      right: 0;
      top: 60px;
      width: 150px;
      padding: 1rem;
      border-radius: 5px;
  }

  .menu a {
      display: block;
      padding: 0.5rem 0;
  }

  .menu-hamburguesa {
      display: flex;
  }

  /* Muestra el menú cuando se activa */
  .menu.activo {
      display: flex;
  }
}
